[Desktop Entry]
Name=SSHVault
GenericName=SSH Client
Comment=Zero-knowledge encrypted SSH and terminal client
Exec=sshvault %u
Icon=de.kiefer_networks.sshvault
Terminal=false
Type=Application
Categories=Network;RemoteAccess;Security;
Keywords=ssh;terminal;sftp;server;remote;encrypted;
StartupWMClass=sshvault
MimeType=application/x-sshvault-export;
